<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, voluptatem voluptates asperiores vitae in ex molestias earum ipsam obcaecati alias praesentium doloremque quidem quisquam odit architecto quod, laboriosam sequi esse!</p>
    </div>
</div>