<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, aliquam et ab mollitia ut dolor numquam, cumque autem obcaecati eos magni labore a reiciendis vel deleniti vitae accusantium enim ea.</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>